{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="icon" href="{% static 'img/favicon.ico' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delivery and expedition consignation Gasny</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="header">
        <img src="{% static 'img/logo.png' %}" alt="Logo AAF" class="logo">
        <div class="title-container">
            {% block left_arrow %}
            <a href="{% block left_arrow_url %}#{% endblock %}">
                <img src="{% static 'img/left-arrow.png' %}" alt="Flèche gauche" class="arrow left-arrow">
            </a>
            {% endblock %}
            <div class="header-title">
                {% block header_title %}Delivery Consign Gasny{% endblock %}
            </div>
            {% block right_arrow %}
            <a href="{% block right_arrow_url %}#{% endblock %}">
                <img src="{% static 'img/right-arrow.png' %}" alt="Flèche droite" class="arrow right-arrow">
            </a>
            {% endblock %}
            <a href="{% if request.resolver_match.url_name == 'historique' %}{% url 'delivery_consignation' %}{% else %}javascript:void(0);{% endif %}"
                {% if request.resolver_match.url_name != 'historique' %}
                onclick="showPasswordModal()"
                {% endif %}
>               <img src="{% block historic_image %}{% static 'img/historic.png' %}{% endblock %}" 
                alt="Image dynamique" 
                class="historic">
            </a> 
        </div>
    </div>

    
    <!-- Contenu principal -->
    <div class="{% block content_class %}content{% endblock %}">
        {% block content %}
        <!-- Le contenu spécifique de chaque page sera inséré ici -->
        {% endblock %}
    </div>

    <!-- Footer -->
    <div class="footer">
        © 2025 AAF International - Tous droits réservés
    </div>

  
</body>
</html>
